.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #0098fa;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 7px;
}
.custom-button:hover {
  background-color: white;
  color: #0098fa;
  border: 1px solid #0098fa;
}

.custom-button:focus {
  border: 1px solid #0098fa;
}

.custom-button.inverted {
  background-color: white;
  color: #0098fa;
  border: 1px solid #0098fa;
}
.custom-button.inverted.hover {
  background-color: #0098fa;
  color: white;
  border: none;
}
