/* .formInd{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.formGlobal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */