.expedient-details {
  border: 1px solid #dddcdc;
  padding: 20px;
  margin: 40px;
  background-color: #f5f5f5;
  border-radius: 7px;
}

.expedient-details ul {
  list-style: none;
  width: 90%;
  margin: 0 auto;
}

.expedient-details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.expedient-details ul li div {
  width: 50%;
}

.expedient-details ul li:not(:last-child) {
  border-bottom: 1px solid black;
}
.value-color{
  color: #0098fa;
}
